<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New recipe</button>
  </div>
</div>
<hr />
<div class="div row">
  <div
    class="div col-xs-12"
    *ngFor="let recipe of recipes"
    (click)="onRecipeClicked.emit(recipe)"
  >
    <app-recipe-item [recipe]="recipe"></app-recipe-item>
  </div>
</div>
