<app-header (showRecipes)="onHeaderItemClicked($event)"></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-recipes *ngIf="showRecipes"></app-recipes>
            <app-shopping-list *ngIf="!showRecipes"></app-shopping-list>
        </div>
    </div>
</div>
