<div class="row">
  <div class="col-xs-10">
    <app-shopping-list-edit (onIngredientAdded)="onAddIngredient($event)"></app-shopping-list-edit>
    <hr />
    <ul class="list-group">
      <a
        *ngFor="let ingredient of ingredients"
        style="cursor: pointer;"
        class="list-group-item"

      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
