<div class="row">
  <div class="col-md-5">
    <app-recipe-list
      (onRecipeClicked)="onRecipeSelected($event)"
    ></app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-detail
      *ngIf="selectedRecipe; else selectMessage"
      [recipe]="selectedRecipe"
    ></app-recipe-detail>
    <ng-container #selectMessage>
      <p>Please select a recipe</p>
    </ng-container>
  </div>
</div>
